html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    color: #2F3035;
/*
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

 */
    font: 400 20px/24px 'SFProDisplay-Regular', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.page__section {
    margin-bottom: 80px;
}

/*********************************** Header ***********************************/
.header__top_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    font-weight: 700;
}

.menu__item {
    display: inline-block;
}

.menu__item + .menu__item {
    padding-left: 50px;
}

.header__box {
    display: flex;
}

.header__address {
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;
}

.header__address::before {
    content: '';
    position: absolute;
    background-image: url("../images/address_icon.svg");
    width: 30px;
    height: 30px;
    left: 0;
    top: -9px;
}

.user_list {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.user_list__item {
    margin-right: 10px;
}

.basket {
    position: relative;
    display: inline-block;
}

.basket_counter {
    position: absolute;
    right: -15px;
    bottom: 0px;
    min-width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #1C62CD;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50%;
    padding-left: 3px;
    padding-right: 3px;
}

.menu_categories {
    background: #F0F0F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 53px;
}

.menu_categories__item {
    position: relative;
}

.menu_categories__link {
    padding-bottom: 15px;
    transition: all .3s ease;
    border-bottom: 3px solid transparent;
    display: inline-block;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
}

.menu_categories__link::before {
    content: '';
    position: absolute;
    right: 0;
    left: auto;
    width: 0;
    background-color: #1C62CD;
    height: 3px;
    bottom: -3px;
    transition: all .3s ease;
}

.menu_categories__link:hover {
    font-weight: 600;
    font-family: 'SFProDisplay-Semibold', sans-serif;
}

.menu_categories__link:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}
/*********************************** Header ***********************************/

/*********************************** Promo section ***********************************/
.promo__product {
    transition: all .3s ease;
}

.promo__inner {
    display: flex;
    justify-content: space-between;
    align-items: initial;
}

.promo__slider {
    max-width: 870px;
    position: relative;
}

.promo__slider_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    opacity: .5;
}

.promo__slider_btn:hover {
    opacity: 1;
}

.btn__prev {
    left: 15px;
}

.btn__next {
    right: 15px;
}

.slick-dots {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-bottom: 35px;
}

.slick-dots li {
    padding: 0 5px;
}

.slick-dots button {
    padding: 0;
    margin: 0;
    font-size: 0;
    width: 11px;
    height: 11px;
    border: solid 1px #FFF;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.slick-dots li.slick-active button {
    background-color: #FFF;
}

.promo__product {
    max-width: 265px;
    text-align: center;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promo__item_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.promo__item_badge {
    color: #FFF;
    text-transform: uppercase;
    background-color: #1C62CD;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    padding: 8px 20px;
}

.promo__item_price {
    font-family: 'Barlow', sans-serif;
    text-align: right;
}

.price {
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    margin-right: 6px;
    padding-right: 20px;
    position: relative;
}

.promo__item_price .price {
    color: #1C62CD;
}

.promo__item_price .price_rub::after {
    content: '';
    background-image: url("../images/currency/rub_blue.svg");
    position: absolute;
    right: 0;
    width: 15px;
    height: 18px;
    top: 8px;
}

.price_old {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    margin-top: 10px;
    margin-right: 15px;
    position: relative;
    background-image: url("../images/old_price.svg");
    display: inline;
    padding: 1px 5px;
}

.price_old.price_rub::after {
    content: '';
    background-image: url("../images/currency/rub_grey.svg");
    width: 8px;
    height: 10px;
    position: absolute;
    right: -10px;
    top: 5px;
}

.promo__item_title {
    color: #2F3035;
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
}

.promo__img {
    max-width: 50%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
}

.promo__item_footer {
    background-color: #F0F0F4;
    padding: 25px 20px;
    color: #2F3035;
    font-size: 18px;
    line-height: 21px;
}

.promo__item_footer span {
    color: #1C62CD;
    font-family: Barlow;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

.promo__product:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}
/*********************************** Promo section ***********************************/

/*********************************** Search section ***********************************/
.tabs__panel {
    margin-bottom: 25px;
}

.search__tabs_item {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #2F3035;
    padding: 11px 25px;
}

.search__tabs_item.active {
    font-weight: bold;
    background-color: #F0F0F4;
    border-radius: 5px;
}

.tabs__data_item {
    display: none;
}

.search__content_form {
    height: 50px;
    display: flex;
    justify-content: normal;
    align-items: center;
}

.search__content_input {
    display: inline-block;
    margin: 0;
    width: calc(100% - 150px);
    height: 100%;
    background: #F0F0F4;
    border-radius: 3px;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 19px;
}

.search__content_input::placeholder {
    color: #656464;
}

.search__content_btn {
    width: 153px;
    background: #1C62CD;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    height: 100%;
    cursor: pointer;
    border: none;
    margin: 0 0 0 -3px;
    transition: all .3s ease;
}

.search__content_btn:hover {
    color: #1C62CD;
    background-color: #F0F0F4;
}
/*********************************** Search section ***********************************/

/*********************************** Categories section ***********************************/
.categories__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__item {
    margin-bottom: 30px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    padding: 20px;
    max-width: 370px;
    width: calc(33% - 30px);
    display: flex;
    transition: all .3s ease;
}

.categories__item:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories__item_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.categories__item_image {
    width: 50%;
    text-align: center;
}

.categories__item_image img {
    max-width: 100%;
}

.categories__item_title {
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    color: #2F3035;
}

.categories__item:hover .categories__item_title {
    color: #1C62CD;
}

.categories__item_text {
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

.categories__item_text::after {
    content: url('../images/Back.svg');
    display: inline-block;
    width: 6px;
    height: 9px;
    margin-left: 5px;
}
/*********************************** Categories section ***********************************/

/*********************************** Product item ***********************************/
.product__item_wrapper {
    position: relative;
    display: inline-block;
    min-height: 403px;
}

.product__item {
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    transition: all .3s ease;
    text-align: center;
    padding: 52px 20px 30px;
    color: #2F3035;
    min-height: 403px;
}

.product__item:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    border-color: transparent;
}

.product__item_wishlist {
    position: absolute;
    top: 16px;
    right: 19px;
    width: 24px;
    height: 22px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 5;
    cursor: pointer;
}

.product__item_wishlist::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 22px;
    background-image: url("../images/wishlist.svg");
    top: 0;
    left: 0;
}

.product__item_wishlist:hover::before {
    background-image: url("../images/wishlist_hover.svg");
}

.product__item_wishlist.active::before {
    background-image: url("../images/wishlist_active.svg");
}

.product__item_image {
    max-width: 100%;
    margin: 0 auto 15px;
}

.slick-slide img {
    display: inline;
}

.product__item_title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 25px;
}

.product__item_price {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    font-family: Barlow;
}

.product__item:hover .product__item_title, .product__item:hover .product__item_price {
    color: #1C62CD;
}

.product__item_cart {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 10px 0px 0px 0px;
    border: none;
    width: 60px;
    height: 40px;
    background: #1C62CD url("../images/basket_white.svg") center center no-repeat;
}

.product__item_hover {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2F3035;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    padding: 17px 20px;
    background: rgba(255,255,255,.9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    transition: all .3s ease;
    opacity: 0;
}

.product__item:hover .product__item_hover {
    opacity: 1;
}

.product__item_sale {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    background: #1C62CD;
    display: inline-block;
    padding: 8px 15px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
}

.product__item_not_available {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
    margin-bottom: 13px;
}

.product__item_notify_availability {
    position: absolute;
    left: 0;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

.product__item_wrapper .product__item_notify_availability,
.product__item_wrapper .product__item_not_available {
    display: none;
}

.product__item_wrapper.not_available .product__item_notify_availability,
.product__item_wrapper.not_available .product__item_not_available {
    display: block;
}

.product__item_wrapper.not_available .product__item_price,
.product__item_wrapper.not_available .product__item_cart {
    display: none;
}

.product__item_notify_availability a {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1C62CD;
    border-bottom: solid 1px #1C62CD;
}

.product__item_notify_availability a:hover {
    border-color: transparent;
}
/*********************************** Product item ***********************************/

/*********************************** Products slider ***********************************/
.products__title {
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #2F3035;
    margin-bottom: 25px;
}

.products__inner .tabs__wrapper {
    margin-bottom: 25px;
}

.products__tabs_item {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #2F3035;
    padding-bottom: 10px;
}

.products__tabs_item + .products__tabs_item {
    margin-left: 50px;
}

.products__tabs_item.active {
    border-bottom: solid 2px #1C62CD;
}

.product__slider_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    opacity: .5;
}

.product__slider_btn:hover {
    opacity: 1;
}

.product__slider_btn.btn__prev {
    left: -30px;
}

.product__slider_btn.btn__next {
    right: -30px;
}

.products__more {
    margin-top: 35px;
    text-align: center;
}

.products__more a {
    background: #F0F0F4;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #2F3035;
    padding: 17px 43px;
    transition: all .3s ease;
}

.products__more a:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}
/*********************************** Products slider ***********************************/

/*********************************** Footer section ***********************************/
.footer {
    background: #F0F0F4;
    width: 100%;
    padding: 40px 0 25px;
}

.footer__top_inner {
    display: flex;
    justify-content: space-between;
}

.footer__top_item {
    max-width: 200px;
}

.footer__top_item.footer__top_newsletter {
    width: 295px;
    margin-right: 50px;
}

.footer__top_item.footer__top_social {
    max-width: 250px;
}

.footer__top_title {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
}

.footer__form {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.footer__form_input {
    width: 201px;
    height: 33px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
    outline: none;
    padding: 0 12px;
}

.footer__form_input::placeholder {
    color: #C4C4C4;
}

.footer__form_btn {
    background: #1C62CD;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0 16px;
}

.footer__menu {
    margin-top: 10px;
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
    max-width: 200px;
}

.footer__menu_item {
    margin-bottom: 8px;
}

.footer__menu_link:hover {
    text-decoration: underline;
}

.footer__social {
    display: flex;
    align-items: center;
    height: 100%;
}

.footer__social_item {
    margin-right: 30px;
}

.footer__bottom {
    text-align: center;
}

.footer__bottom_link {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #48494D;
    transition: all .3s ease;
}

.footer__bottom_link + .footer__bottom_link {
    margin-left: 80px;
}

.footer__bottom_link:hover {
    color: #2F3035;
}
/*********************************** Footer section ***********************************/